<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blogs</title>
  <link href="main.css" media="screen" rel="stylesheet">
  <link href="print.css" media="print" rel="stylesheet">
</head>

<body>
  <div id="app" >
    <nav class="nav">
      <ul class="nav-list" >
        <li class="nav-item" v-for="navItem in navItems">
          <a v-bind:href="navItem.href"> {{ navItem.name }} </a>
        </li>
      </ul>
    </nav>
    <p>
    <h1>{{ pageName }}</h1>
    <div class="blog_vue_row" >
      <div class ="blog_vue_column" v-for="(item,index) in blogItems">
        <figure>
          <a v-bind:href = "item.href">
            <img :src="item.imgSrc" class="blog_vue_page_imgs" alt="item.alt">
            <figcaption><sub>{{item.text}}</sub></figcaption>
          </a>
        </figure>
        <br v-if="index>3"/>
      </div>
    </div>
  </div>


  <!--Include Vue-->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!--Create Vue instance-->
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        pageName: 'Blogs',
        blogItems: [{
          href: 'blogs/growth_of_big_data.html',
          imgSrc: 'big_data_growth_picture.png',
          alt: 'Big data growth',
          text: 'Big data growth'
        },
        {
          href: 'blogs/big_data_engineers_toolkit.html',
          imgSrc: 'big_data_engineer.png',
          alt: 'Big data Engineer',
          text: 'Big Data Engineer\'s toolkits'
        },
        {
          href: 'blogs/intro_typescript.html',
          imgSrc: 'typescript.png',
          alt: 'Typescript',
          text: 'An introduction to typescript'
        },
        {
          href: 'blogs/mvc.html',
          imgSrc: 'mvc_pattern.png',
          alt: 'MVC pattern',
          text: 'MVC pattern: Past, present and future'
        }],
        navItems:[
        {
          href: 'index.html',
          name: 'About',
        },
        {
          href: 'blog.html',
          name: 'Blogs',
        },
        {
          href: 'apps.html',
          name: 'Apps',
        },
        {
          href: 'quotes.html',
          name: 'Quotes',
        },
        {
          href: 'contact.html',
          name: 'Contact',
        }
        ]
      }
    })
  </script>

</body>

</html>
