<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>quotes</title>
  <link href="main.css" media="screen" rel="stylesheet">
  <link href="flipcard.css" media="screen" rel="stylesheet">
  <link href="print.css" media="print" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">

</head>

<body>
  <main class="wrapper">
    <nav class="nav">
      <ul class="nav-list">
        <li class="nav-item"><a href="index.html" class="nav-link"> About </a></li>
        <li class="nav-item"><a href="blog.html" class="nav-link"> Blogs </a></li>
        <li class="nav-item"><a href="apps.html" class="nav-link"> Apps</a></li>
        <li class="nav-item"><a href="quotes.html" class="nav-link"> Quotes</a></li>
        <li class="nav-item"><a href="contact.html" class="nav-link"> Contact</a></li>
      </ul>
      <div class="hamburger">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
    </nav>
    <script src="navigation.js"></script>
    <p>
    <div id="app">
      <h1>Quotes
      </h1>
      <div class="maintext">
        <div>
          <h2>Inspiring quotes </h2>
          <br>
          These quotes from historically poets will always be an inspiration for all times to
          maintain hope, even through the darkest times. When the times seem rough let these quotes
          help inspire you to carry on and hope for the best.
          <div class="flex_row">
            <div class="flex_column" v-for="item in inspiring_items">
              <div class="flip-card">
                <div @mouseover="item.showOldImage = false" @mouseleave="item.showOldImage = true">
                  <div class="flip-card-front" v-show="item.showOldImage">
                    <img :src="item.img" alt="item.alt" class="quote_pics">
                  </div>
                  <div class="flip-card-back" v-show="!item.showOldImage">
                    <h2>{{item.name}}</h2>
                    <p><i>{{item.quote}}</i></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div>
          <br>
          <h2>Funny quotes </h2>
          <br>These quotes from famous people are funny and we see how well articulate and famous people
          always like to have fun.
          <div class="flex_row">
            <div class="flex_column" v-for="item in funny_items">
              <div class="flip-card">
                <div @mouseover="item.showOldImage = false" @mouseleave="item.showOldImage = true">
                  <div class="flip-card-front" v-show="item.showOldImage">
                    <img :src="item.img" alt="item.alt" class="quote_pics">
                  </div>
                  <div class="flip-card-back" v-show="!item.showOldImage">
                    <h2>{{item.name}}</h2>
                    <p><i>{{item.quote}}</i></p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <!--Include Vue-->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>

    <!--Create Vue instance-->
    <script>
      var app = new Vue({
        el: '#app',
        data: {
          inspiring_items: [{
              img: 'assets/rabi_tagore.png',
              alt: 'Rabindranath Tagore',
              name: 'Rabindranath Tagore',
              quote: 'Faith is the bird that feels the light when the dawn is still dark.',
              showOldImage: true
            },
            {
              img: 'assets/byron.png',
              alt: 'Lord Byron',
              name: 'Lord Byron',
              quote: 'Always laugh when you can. It is cheap medicine.',
              showOldImage: true
            },
            {
              img: 'assets/shelly.png',
              alt: 'Shelly',
              name: 'Shelly',
              quote: 'If winter comes, can spring be far behind?',
              showOldImage: true
            },
            {
              img: 'assets/ayn_rand.png',
              alt: 'Ayn Rand',
              name: 'Ayn Rand',
              quote: 'Learn to value yourself, which means: fight for your happiness.',
              showOldImage: true
            }
          ],
          funny_items: [{
              img: 'assets/albert_einstein.png',
              alt: 'Albert Einstein',
              name: 'Albert Einstein',
              quote: 'The difference between stupidity and genius is that genius has its limits.',
              showOldImage: true
            },
            {
              img: 'assets/oscar_wilde.png',
              alt: 'Oscar Wilde',
              name: 'Oscar Wilde',
              quote: 'I am so clever that sometimes I don\'t understand a single word of what I am saying.',
              showOldImage: true
            },
            {
              img: 'assets/mark_twain.png',
              alt: 'Mark Twain',
              name: 'Mark Twain',
              quote: 'Get your facts first, then you can distort them as you please.',
              showOldImage: true
            },
            {
              img: 'assets/abraham_lincoln.png',
              alt: 'Abraham Lincoln',
              name: 'Abraham Lincoln',
              quote: 'No man has a good enough memory to be a successful liar.',
              showOldImage: true
            }
          ]
        }
      })
    </script>

  </main>
</body>

<hr>
<footer>
  <div class="footer_row">
    <div class="footer_column">
      © Ragesh
    </div>
    <div class="footer_column">
      <a href="mailto: ragesh.temp@gmail.com" target="_blank">
        <img src="assets/mail_icon.png" class="footer_images" alt="email icon">
      </a>
    </div>
    <div class="footer_column">
      <a href="https://linkedin.com/in/ragesh-damodaran" target="_blank">
        <img src="assets/linkedin_icon.png" class="footer_images" alt="email icon">
      </a>
    </div>
    <div class="footer_column">
      <a href="https://www.facebook.com/ragesh.damodaran.5" target="_blank">
        <img src="assets/facebook_icon.png" class="footer_images" alt="email icon">
      </a>
    </div>
  </div>
</footer>

</html>
