/*This is a class to format the calcy image*/
#calcy {
  height: 15rem;
   left: 40%;
   position: relative;
   top: 45%;
   width: 15rem;
}

/*This is a class to format the calcy header*/
.calcy_header {
  text-align: center;
}


/*This is a class to format the click me button*/
.clickMe {
  left: 40%;
  top: 4rem;
  position: relative;
  background-color: red;
  color: white;
  width: 4rem ;
  animation: blinker 1s step-start infinite;
}

/*This is a class to stop the click me button from blinking*/
.clickMe:hover {
  left: 40%;
  top: 4rem;
  position: relative;
  background-color: red;
  color: white;
  width: 4rem ;
  cursor: pointer;
  animation: none;
}

/*This causes the click me button to blink*/
@keyframes blinker {
  50% {
    opacity: 0;
  }
}
